

/*---------------------------------------------------*/

body {
    background-color: black;
}

h1,h2,h3,p {
    font-family: "Roboto Flex";
}

h1 {
    font-size: 75px;
    font-weight: 450;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 70px 0;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    text-align: left;
    color: white;
}

.seperator-line {
    height: 1px;
    background-color: white;
}
/*---------------------------------------------------*/

.news-title,
.exhibition-title {
    background: linear-gradient(to right,#6B4812, #1f1405);
    margin: 40px 300px 0 300px;
    padding: 5px 20px;
}

.news-container,
.exhibition-container-1,
.exhibition-container-2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

.news-1,
.news-2,
.news-3,
.exhibition-1,
.exhibition-2,
.exhibition-3,
.exhibition-4,
.exhibition-5 {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.news-1,
.exhibition-1,
.exhibition-4 {
    margin-left: 300px;
    margin-right: 10px
}

.news-3,
.exhibition-3 {
    margin-right: 300px;
    margin-left: 10px;

}

.exhibition-5 {
    margin-right: 740px;
    margin-left: 10px;
}

.news-1 img,
.news-2 img,
.news-3 img,
.exhibition-1 img,
.exhibition-2 img,
.exhibition-3 img,
.exhibition-4 img,
.exhibition-5 img {
    height: auto;
    width: auto;
}

/*---------------------------------------------------*/

@media(max-width: 810px) {

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .news-title,
    .exhibition-title {
        width: 730px;
        margin: 0 20px;
        align-items: center;
    }

    .news-1,
    .news-2,
    .news-3,
    .exhibition-1,
    .exhibition-2,
    .exhibition-3,
    .exhibition-4,
    .exhibition-5 {
        width: 250px;
    }

    .news-1 img,
    .news-2 img,
    .news-3 img,
    .exhibition-1 img,
    .exhibition-2 img,
    .exhibition-3 img,
    .exhibition-4 img,
    .exhibition-5 img {
        width: 240px;
        height: auto;
    }

    .news-3 img {
        margin-bottom: 21px;
    }

    .news-1,
    .exhibition-1,
    .exhibition-4,
    .exhibition-3 {
        margin: 0 10px 20px 20px;
    }

    .news-2 {
        margin: 0 10px 20px 10px; 
    }

    .news-3 {
        margin: 0 15px 20px 10px;
    }

}

/*---------------------------------------------------*/

@media(max-width: 390px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    .news-title,
    .exhibition-title {
        width: 300px;
        margin: 0 25px;
        align-items: center;
    }

    .news-container,
    .exhibition-container-1,
    .exhibition-container-2 {
        flex-direction: column;
        align-items: center;
    }

    .news-1,
    .news-2,
    .news-3,
    .exhibition-1,
    .exhibition-2,
    .exhibition-3,
    .exhibition-4,
    .exhibition-5 {
        width: 300px;
    }

    .news-1,
    .exhibition-1,
    .exhibition-4 {
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .news-3,
    .exhibition-3 {
        margin-right: 10px;
        margin-top: 40px;
    }

    .exhibition-5 {
        margin-right: 10px;
    }
}