

/*---------------------------------------------------*/

body {
    background-color: black;
}

h1,h2,h3,p {
    font-family: "Roboto Flex";
}

h1 {
    font-size: 75px;
    font-weight: 450;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 70px 0;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 0 20px;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    text-align: center;
    color: white;
    text-align: left;
}

.text-1 p,
.text-2 p {
    font-size: 23px;
    color: white;
    margin-bottom: 40px;
    text-align: left;
}

.seperator-line {
    height: 1px;
    background-color: white;
}

/*---------------------------------------------------*/


.museum-info {
    display: flex;
    margin-bottom: 120px;
}

.info-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    background: radial-gradient(#6B4812, #1f1405);
    margin-left: 15%;
    margin-right: 10px;
}

.info-image {
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 10px;
}

.text-1,
.text-2 {
    align-self: center;
    width: 300px;
}

.text-1 {
    margin-top: 50px;
}

.text-2 {
    margin-top: 20px;
}

.information-title {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,#6B4812, #1f1405);
    margin: 40px 300px 0 300px; 

}

.contents-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}

.for-kids,
.for-teachers,
.for-researchers {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.for-kids {
    margin-left: 300px;
    margin-right: 10px
}

.for-researchers {
    margin-right: 300px;
    margin-left: 10px;
}

/*---------------------------------------------------*/
@media screen and (max-width: 810px) {

    .text-1 p,
    .text-2 p{
        font-size: 16px;
    }

    .info-text {
        width: 50%;
        margin: 10px; 
    }

    .info-image {
        width: 50%;
        margin: 10px; 
    }

    .info-image img {
        max-width: 100%; 
        height: auto;
    }

    .museum-info {
        flex-direction: row; 
        margin-bottom: 40px; 
    }

    .information-title {
        margin: 40px 20px 0; 
    }

    .contents-container {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
        margin-bottom: 100px; 
        padding: 0 20px; 
    }

    .for-kids,
    .for-teachers,
    .for-researchers {
        width: calc(33.33% - 20px); 
        margin-bottom: 20px; 
    }

    .for-kids {
        margin-left: 0; 
        margin-right: 10px; 
    }

    .for-researchers {
        margin-right: 0; 
        margin-left: 10px; 
    }
}

/*---------------------------------------------------*/

@media screen and (max-width: 430px) {

    h1 {
        font-size: 45px; 
        margin: 30px 0;
    }

    .museum-info {
        flex-direction: column; 
        margin-bottom: 60px; 
    }

    .info-text {
        margin: 20px;
        width: auto;
    }

    .info-image {
        margin: 20px;
        width: auto;
    }

    .text-1,
    .text-2 {
        margin: 0 20px;
        width: auto; 
    }

    .text-1 {
        margin-top: 20px;
    }

    .text-2 {
        margin-bottom: 10px;
    }

    .information-title {
        margin: 20px 20px 0 20px; 
    }

    .contents-container {
        flex-direction: column; 
        margin-bottom: 60px; 
    }

    .for-kids,
    .for-teachers,
    .for-researchers {
        margin: 0;
        width: auto;
    }

    .for-kids img,
    .for-teachers img,
    .for-researchers img {
        max-width: 100%;
        height: auto; 
    }

    .for-kids-text,
    .for-teachers-text,
    .for-researchers-text {
        padding: 0 10px; 
    }
}